# Sample environment file
# Overide these with your local settings
#
# This sample file should be copied to local.env and modified

# Username you're using for general management so we can add SSH Keys
MY_USER=sellis

# BASE_DIR Is the location where you'll keep the base ISO/qcow images 
# we use for VM Deployment
BASE_DIR=/opt/Virtual/ISO

# VM_DIR is our working dir that KVM uses for running VMs or snapshots
VM_DIR=/opt/Virtual/images

# Optionally override this if you need to specify a different bridge
# or virtual network device
#VM_BRIDGE=virbr1
