######
# Example secrets file 
#  
# Copy this file to secrets.yaml
#
# Update any Red Hat Activation key details for registring 
# so Convert2RHEL can access the Red Hat packages
#

rhsm_username: MY_USERNAME
rhsm_password: MY_PASSWORD

